.Container-Form {
  background-color: #f9f5f0;
  height: 100%;
  padding-bottom: 10rem;
}
.register {
  width: 100%;
  /* margin: 0 auto; */
}

.register .registerPhoto img {
  max-width: 100%;
  height: 25rem;
  /* margin: 0 auto; */
  margin-top: 4em;
  object-fit: cover;
  border-radius: 20% 0 20% 0;
}
.MainForm {
  width: 22rem;
  /* margin-right: 5rem; */
}
.register h1 {
  color: sienna;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  /* margin-right: 2em; */
  position: relative;
  /* margin-right: 10rem; */
}
/* .register .MainForm .Form {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
} */
.register .registerPhoto {
  width: 40rem;
}
.register .MainForm .Form input,
.register .MainForm .Form button {
  width: 25vw !important;
  background-color: #f9f5f0;
  color: black;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}
.register .MainForm .Form button {
  border: none;
  background-color: sienna;
  color: #f9f5f0;
}
.register .MainForm .Form h2 {
  color: #750421;
  font-size: 0.8rem;
  margin-bottom: 1em;
  display: inline;
  /* content: "⚠ "; */
}
.Form span {
  display: block;
  color: black;
}
.SmallLink {
  color: sienna;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

@media (max-width: 850px) {
  .registerPhoto {
    display: none;
  }
  .register .MainForm .Form input,
  .register .MainForm .Form button {
    width: 60vw !important;
  }
}
