.mainAbout {
  /* width: 100%; */
  background-color: #f9f5f0 !important;
  position: relative;
  top: -5rem;
  /* height: 70vw; */
}

.containAbout {
  /* width: 60%; */
  color: black;
}
/* .About_Images {
  width: 40%;
} */
.containAbout .AboutTitle h1 {
  font-size: 48px;
  line-height: 1.3em;
  font-family: "fraunces", serif;
  font-weight: 100;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #111;
  /* padding-right: 10vw; */
}
.containAbout .AboutTitle p {
  font-family: raleway, sans-serif;
  letter-spacing: 0.5px;
}
.mainAbout .Aboutphoto {
  /* width: 30%; */
  position: relative;
  right: 0;
  /* left: 12.5%; */
  margin-top: 3.5rem;
  /* left: 0px; */
  /* top: 15px; */
  /* z-index: 1; */
  background-size: cover;
}
.Aboutphoto img {
  /* max-width: 100%; */
  /* width: 99%; */
  /* height: 53vw; */
  position: relative;
  right: 0;
}

.mainAbout .AboutImage {
  position: absolute;
  /* margin-top: 4.1rem; */
  z-index: 2;

  /* margin-left: 32rem; */
  /* left: 55%; */
}
.AboutImage img {
  position: relative;
  /* max-width: 100%; */
  /* width: auto; */
  /* width: auto; */
  /* height: 45vw; */
  object-fit: cover;
  /* overflow: hidden; */
}
