.ContainFooter {
  /* height: 50vw; */
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 4em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration-thickness: auto;
  text-decoration-style: solid;
}
.ContainFooter {
  background-color: #f9f5f0;
}
.FooterImages {
  /* width: 80%; */
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  justify-content: center;
  align-items: center;
}

.FooterImages img {
  height: 17vw;
}

.FooterLogo {
  width: 14vw;
  margin: 0 auto;
  /* position: relative; */
  /* bottom: 3rem; */
}

/* #FooterLinksLeft h1 {
  position: relative;
  left: 10rem;
} */
/* #FooterLinksRight h1 {
  position: relative;
  right: 10rem;
} */

@media (max-width: 800px) {
  .FooterImages img {
    height: 23vw;
  }
}
