/* .ContainPosts {
  width: 30% !important;
} */
.MainPosts {
  color: #805541;
}
.PostImg {
  /* width: 20rem !important; */
  height: 30vw;
  object-position: center;
  object-fit: cover;
}
/* 
.card-Des {
  font-size: 1rem;
}
.PostDes {
  width: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
} */

@media (max-width: 750px) {
  .PostImg {
    height: 40vw;
  }
}
