/* .ContainPosts {
  width: 30% !important;
} */
.MainPosts {
  color: #805541;
}
.PostImg {
  width: 92%;
  height: 30vw;
  object-position: center;
}
/* 
.card-Des {
  font-size: 1rem;
}
.PostDes {
  width: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
} */
